#
# Copyright 2013-2016 Guardtime, Inc.
#
# This file is part of the Guardtime client SDK.
#
# Licensed under the Apache License, Version 2.0 (the "License").
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#     http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES, CONDITIONS, OR OTHER LICENSES OF ANY KIND, either
# express or implied. See the License for the specific language governing
# permissions and limitations under the License.
# "Guardtime" and "KSI" are trademarks or registered trademarks of
# Guardtime, Inc., and no license to trademarks is granted; Guardtime
# reserves and retains all trademark rights.
#

#Common settings
javaKeyStorePath=src/test/resources/truststore.jks
pubfileUrl=publications.file.url


#Http settings
signerUrl=signing.service.url:port
signerLoginId=http-signing-login-id
signerLoginKey=http-signing-login-key
signerHmacAlgorithm=DEFAULT

extenderUrl=extending.service.url:port
extenderLoginId=http-extender-login-id
extenderLoginKey=http-extender-login-key
extenderHmacAlgorithm=DEFAULT

# TCP settings
tcp.maxParallelTransactions=100
tcp.transactionTimeoutSec=transaction-Timeout-Sec

tcp.signerIP=tcp.signing.service.ip
tcp.signerPort=tcp-singing-service-port
tcp.signerLoginId=tcp-singing-login-id
tcp.signerLoginKey=tcp-singing-login-key
tcp.signerHmacAlgorithm=DEFAULT

tcp.extenderIP=tcp.extender.service.ip
tcp.extenderPort=tcp-extender-service-port
tcp.extenderLoginId=tcp-extender-login-id
tcp.extenderLoginKey=tcp-extender-login-key
tcp.extenderHmacAlgorithm=DEFAULT
